/* Navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 10vh;

    padding: 0 30px;

    background: linear-gradient(120deg, cyan, lime);
}

.navbar nav {
    position: relative;
    z-index: 10000;
}

.navbar img {
    height: 70px;
    border-radius: 50%;
}

.navbar nav input, .navbar nav label{
    display: none;
}

.navbar nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
}

nav ul li > a{
    padding: 10px 30px;
    margin: 0 5px;
    text-transform: capitalize;
    font-size: 1.3rem;
    border-radius: 25px;
    background: white;
}

nav ul li > a:hover{
    color: var(--primary-color);
    transition: .3;
}

nav ul li label{
    cursor: pointer;
}




ul li i{
    font-size: 20px;
    padding: 10px;
    border: solid;
    border-radius: 50%;
}