.service_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  height: 90vh;
}

.service_box {
  padding: 130px 180px;

  border-radius: 16px;
  background: whitesmoke;
  cursor: pointer;
}
.service_box:hover {
  border: solid;
}

.service_box p {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5rem;
}