.work_container{
   
}

.work_container nav {
    display: flex;
    align-items: center;

    height: 7vh;

    background: black;

}

.nav_item {
    padding: 20px 60px;
    border-right: solid white;
}

.work_container nav a {
    color: white;
}


.find_jobs {
    padding: 30px;
}

.all_job_posts {
    display: grid;
    gap: 50px;
}

.job {
    background: whitesmoke;
    padding: 30px;

    display: grid;
    gap: 15px;

    border-radius: 7px;

    border-bottom: 1px solid black;
}

.job h2 {
    text-decoration: underline;
} 


/*CompletedJobList.css */
.completed-job-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    
  }
  
  .completed-job-list h1 {
    text-align: center;
    margin-bottom: 10px;
    
  }
  
  .completed-job-item {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #e0ffe0;
    
  }
  
  .completed-job-item h2 {
    margin: 0 0 10px;
    
  }
  
  .completed-job-item p {
    margin: 5px 0;
    
  }



  .categories-navbar {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .categories-navbar h2 {
    margin-bottom: 0.5em;
  }
  
  .categories-navbar ul {
    list-style: none;
    padding: 0;
  }
  
  .categories-navbar li {
    margin-bottom: 0.5em;
  }
  
  .categories-navbar label {
    display: flex;
    align-items: center;
  }
  
  .categories-navbar input[type="checkbox"] {
    margin-right: 0.5em;
  }
  
  